.Accueil ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        font-family: 'Chivo', sans-serif;
        font-size: 8.5vw;
        padding-top: 25vh;

        .dash {
            display: flex;
        }

        a {
            font-family: 'Chivo', sans-serif;
            font-size: 8.5vw;
        }

        a:hover {
            color: #A9BF04;
        }
    }
}

/************************************************************* Début media querries */
/* Téléphone */
@media screen and (max-width: 700px) {
    .Accueil ul {
        margin: 90px 0 0 0;
        flex-flow: column;
        align-items: center ;

        li {
            padding: 0;

            a {
                font-size: 20vw;

            }
        }

        .dash {
            display: none;
        }
    }
}