.Accueil { 
    width: 70vw;
    margin: 0 auto;

    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0;
        padding: 15vh 0 0 0;
        list-style: none;

        li {
            font-family: 'Chivo', sans-serif;
            font-size: 13vw;

            .dash {
                display: flex;
            }

            a {
                font-family: 'Chivo', sans-serif;
                font-size: 13vw;
            }

            a:hover {
                color: #A9BF04;
            }
        }
    }
}

/************************************************************* Début media querries */
/* Téléphone */
@media screen and (max-width: 700px) {
    .Accueil {
        width: 80vw;

        ul {
            margin: 40px 0 100px 0;
            flex-flow: column;
            align-items: center ;
            padding: 0;

            li {
                padding: 0;

                a {
                    font-size: 25vw;
                }
            }

            .dash {
                display: none;
            }
        }
    }
}