.ListeProjets {
    margin: 3vh 0 20vh 0;

    h2 {
        margin: 5vh 0 20px 0;
        font-family: 'Chivo', sans-serif;
        font-size: 7vw;
        text-align: center;
    }
    
    ul {
        margin: 0 15px 0 15px ;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;    
    } 

    .nav {
        display: flex;
        justify-content: space-between;

        .suivant, .precedent {
            margin: 100px 50px 0 50px;

            span {
                a {
                    font-size: 6vw;
                    font-family: 'Chivo', sans-serif;
                }

                a:hover {
                    color: #A9BF04;
                }
            }
        }
    }
}

/************************************************************* Début media querries */
/* Téléphone */
@media screen and (max-width: 700px) {
    .ListeProjets {
        ul {
            margin: 0 15px 0 15px ;
            display: flex;
            flex-flow: column;
            align-content: center;    
            align-content: center;
            align-items: center;
        } 
    }
}